$container: 947px
$homeHeaderHeight: 660px

$HeaderHeight: 330px

.flex
	display: flex

.flex--space-between
	justify-content: space-between
.flex--space-around
	justify-content: space-around

.flex--align-items
	align-items: center
.flex--flex-direction 
	flex-direction: row
.flex--flex-wrap
	flex-wrap: wrap
	justify-content: center
.col-4
	flex: 1 22%
	margin: 15px 5px
.col-3
	flex: 1 30%
	margin: 15px 5px

.container
	max-width: $container
	margin: auto

.fukol-grid
  display: flex
  flex-wrap: wrap
  margin: -0.5em
  > *
    flex: 1 0 5em
    margin: 0.5em

section
	margin: 0
	padding: 40px
	position: relative
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
	h2
		border-left: 2px solid $red
		display: inline-block
		padding-left: 5px

section.grey
	background:
		color: #eee

	h1
		font-weight: 700
		line-height: 1
		margin: 20px 0
		letter-spacing: 1px

@media all and (max-width: 899px)
	.col-4
		flex: 1 47%
@media all and (max-width: 799px)
	.col-3
		flex: 1 auto
@media all and (max-width: 600px)
	section.mFull
		padding: 40px 5px


