//footer
	@author Austin

footer
	.top.container.flex.flex--space-between
		.col-4.about
			h3 About
			p Donec rutrum elit ac arcu bibendum rhoncus in vitae turpis. Quisque fermentum gravida eros non faucibus. Curabitur fermentum, arcu sed cursus commodo.
			p info@heartcup.com
		.col-4.tweets
			h3 Tweets
			p #[span.red @heartcup] Vivamus porta dui dapibus erat egestas semper. In quis sem neque #[span.red #heart]
			span.twitterMin 5 minutes ago
			p #[span.red @heartcup] Vivamus porta dui dapibus erat egestas semper. In quis sem neque #[span.red #heart]
			span.twitterMin 1 day ago
		.col-4.newsletter
			h3 Newsletter
			p Donec rutrum elit ac arcu bibendum rhoncus in vitae turpis.
			input(type="text" placeholder="Enter your e-mail address")
		.col-4.discover
			h3 Discover
			ul
				li
					a(href="#") About 
				li
					a(href="#") Start a Project
				li
					a(href="#") Project Guidelines
				li
					a(href="#") Stats
				li
					a(href="#") Press

	.bottom
		.container.flex.flex--align-items.flex--space-between
			.col-3
				include assets/img/footer-logo.svg
			.col-3
				span &copy; 2016 Heart Cup. All rights reserved.
			.col-3.flex.flex--space-between
				a(href="#") Terms And Conditions
				||
				a(href="#").red Privacy Policy
				||
				a(href="#") FAQ
script(src='assets/js/vendor.js')
script(src='assets/js/app.js')