header(class= page)
	.gallery
		#item-1.control-item.control-operator
		#item-2.control-operator
		#item-3.control-operator
		figure.item
			h1 Item 1
		figure.item
			h1 Item 2
		figure.item
			h1 Item 3
		.controls
			a.control-item(href="#item-1") •
			a.control-item(href="#item-2") •
			a.control-item(href="#item-3") •
	.top
		.container.header.flex.flex--justify-content.flex--align-items
			.logo
				img(src="assets/img/logo.png", alt="Logo")
			.hamburger
					span
			nav.flex.flex--space-between
				ul.flex.flex--space-between.flex--direction
					li
						a(href="#") yayyyy
					li
						a(href="#") Start A Project
					li 
						a(href="#") How It Works
					li 
						a(href="#") 
							img(src="assets/img/search-icon.png", alt="Search Icon")
				.user.flex.flex--space-between
					.register
						a(href="#") Register
					.login 
						a(href="#") Log In
	//.line
	.title.container
		hgroup
			h1 The =]
			h4 Aenean comomodo ligi eget dolor. Aenean massa. Cum soci.
		button View Project
	.search.container
		input(type="text" placeholder="Search for a project by keyword...")
		button.square Search
