- var page='home'
include _header.pug

// HOME
main.page-home

	section#howHeartcupWorks
		.container

			h2.page-title How Heartcup Works 

			.figures

				figure
					include assets/img/discover-projects.svg
					figcaption
						h3 Discover Projects
						p Explore the network and discover projects to get invovled with.
				figure
					include assets/img/connect-yourself.svg
					figcaption
						h3 Connect Yourself
						p build a unique profile and connect with friends to share the power of giving

				figure
					include assets/img/fund-projects.svg
					figcaption
						h3 Fund Projects
						p Reallocate your daily spending to help fund your favorite projects. 

			button Get Started

	section#trendingProjects.grey
		.container
			h2.page-title Trending Projects
			.flex.flex--space-between
				article
					img(src="assets/img/afterSchoolPrograms.png")

					div.bottom.flex.flex--space-around
						.heart
							img(src="assets/img/heart.svg")
						.stats.flex.flex--space-between
							.funded
								p 54%
								p funded
							.pleged
								p $190,420
								p Pleged
							.days
								p 25
								p Days Left

				article
					img(src="assets/img/localAnimalShelter.png")

					div.bottom.flex.flex--space-around
						.heart
							img(src="assets/img/heart.svg")
						.stats.flex.flex--space-between
							.funded
								p 54%
								p funded
							.pleged
								p $190,420
								p Pleged
							.days
								p 25
								p Days Left
				article
					img(src="assets/img/MusicInThePark.png")

					div.bottom.flex.flex--space-around
						.heart
							img(src="assets/img/heart.svg")
						.stats.flex.flex--space-between
							.funded
								p 54%
								p funded
							.pleged
								p $190,420
								p Pleged
							.days
								p 25
								p Days Left

			.controls
				a.control-item(href="#item-1") •
				a.control-item(href="#item-2") •
				a.control-item(href="#item-3") •

			button Explore All Projects

	section#ourCommunity
		.container
			h2.page-title Our Community
			.flex.flex--space-between
				figure.create
					.angled-bottom
						h4 Create
						p Lorem ipsum dolor sit amet, consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing
				figure.projects
					.angled-bottom
						h4 Projects
						p Lorem ipsum dolor sit amet, consectetur adipisicing 
						p Lorem ipsum dolor sit amet, consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing
				figure.business
					.angled-bottom
						h4 Business
						p Lorem ipsum dolor sit amet, consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing
				figure.charaties
					.angled-bottom
						h4 Charaties
						p Lorem ipsum dolor sit amet, consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing
						p Lorem ipsum dolor sit amet, consectetur adipisicing
		
