// HOME
main.styleGuide.page-home

	section
		.container

			h2.page-title Branding

			button Get Started

	section#trendingProjects.grey
		.container
			h2.page-title Trending Projects
			.flex.flex--space-between
				article
					h4 Article
				article
					h4 Article
				article
					h4 Article

			button Explore All Projects
		
